start-network.bat 

server/node_modules
client/node_modules

server/package-lock.json
client/package-lock.json

server/package.json
client/package.json


server/server.js
client/src/server.js

server/.env
client/.env

server/logs
server/logs/*

server/uploads
server/uploads/*

server/public/uploads
server/public/uploads/*

server/migrations
server/migrations/*

server/models
server/models/*


